@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.message-us, .main .container, .main .container .main-text button, .slider .slider-container .slider-content .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  position: relative;
}

.slider .slider-container .slider-content .item, .main .container .main-text button, .main .container, .message-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top {
  position: fixed;
  left: 30px;
  width: 70px;
  height: 70px;
  background: #cad8d5;
  z-index: 9;
  bottom: 30px;
  border-radius: 50% !important;
  border: none;
  outline: none;
  z-index: 9;
  transition: 0.3s;
  box-shadow: 0px 2px 6px 1px #8c8c8c;
  display: none;
}
.scroll-top svg {
  color: #2e4542;
  font-size: 24px;
}
.scroll-top:hover {
  background-color: #a9bdba;
}

@media (max-width: 992px) {
  .scroll-top {
    width: 46px;
    height: 46px;
  }
  .scroll-top svg {
    font-size: 15px;
  }
}
.slider .slider-container .slider-content .item, .main .container .main-text button, .main .container, .message-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-us {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 70px;
  height: 70px;
  background-color: #f4a237;
  border-radius: 50% !important;
  box-shadow: 0px 2px 6px 1px #8c8c8c;
  transition: 0.3s;
  z-index: 9;
  border: none;
  outline: none;
}
.message-us:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .message-us {
    width: 46px;
    height: 46px;
  }
  .message-us img {
    width: 26px;
    height: 26px;
  }
}
button {
  border-radius: 0.5rem !important;
  outline: none;
  border: none;
  font-weight: 700;
}
button:hover {
  opacity: 0.9;
}

.slider .slider-container .slider-content .item, .main .container .main-text button, .main .container, .message-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #2e4542;
}
nav .navbar-brand img {
  width: 227px;
  height: 40px;
}
nav .navbar-nav {
  gap: 16px;
}
nav .nav-item button {
  background-color: #f4a237;
  padding: 0.5rem 0.3rem;
}
nav .nav-item .language {
  background-color: transparent;
}
nav .nav-item .language:hover {
  background-color: #476b66;
}
nav .nav-item svg {
  transition: 0.3s;
  margin-left: 6px;
}
nav .nav-item .nav-link {
  font-weight: 500;
}
nav .dropdown-toggle::after {
  display: none;
}
nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0.125rem;
}
nav .dropdown-item:hover {
  background-color: #fdf2e1;
}
nav .nav-item.dropdown .nav-link {
  display: flex;
  align-items: center;
}
nav .nav-item.dropdown .nav-link:hover svg, nav .nav-item.dropdown .nav-link.show svg {
  transform: rotate(180deg);
}
nav .navbar-toggler {
  border-color: transparent;
  font-size: 24px;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
nav .navbar-toggler[aria-expanded=true] {
  border-color: #fff;
}
@media (max-width: 992px) {
  nav .container {
    flex-direction: row-reverse;
    justify-content: unset !important;
  }
  nav .container .navbar-brand {
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  nav .container .nav-item > button {
    padding: 0.5rem;
  }
  nav .container .language {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5rem;
  }
}
@media (min-width: 1200px) {
  nav .dropdown-toggle {
    position: relative;
  }
  nav .dropdown-toggle::before {
    content: "";
    height: 5px;
    width: calc(100% - 36px);
    position: absolute;
    background-color: #f4a237;
    bottom: 0;
    transition: 0.3s;
    opacity: 0;
  }
  nav .dropdown-toggle:hover::before {
    opacity: 1;
  }
}

.under-line-text {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.under-line-text::before {
  content: "";
  background-color: #f4a237;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: -1;
}

.slider .slider-container .slider-content .item, .main .container .main-text button, .main .container, .message-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 70px 0;
  background: linear-gradient(to right, #fff, #fdf2e1);
}
.main .container {
  min-height: 490px;
}
.main .container .main-text {
  flex-basis: 50%;
}
.main .container .main-text h1 {
  color: #121414;
  line-height: 56px;
  font-weight: bold;
}
.main .container .main-text p {
  color: #121414;
  font-weight: 500;
  margin: 0;
}
.main .container .main-text button {
  gap: 0.5rem;
  margin-top: 1.5rem;
  padding: 1rem 0;
  width: 267px;
  background-color: #2e4542;
  color: #fff;
}
.main .container .main-text button img {
  width: 15px;
  height: 15px;
}
.main .container .main-text button:hover {
  opacity: 0.9;
}
.main .container .main-image {
  flex-basis: 50%;
  position: relative;
}
.main .container .main-image img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .main .container {
    flex-direction: column-reverse;
  }
  .main .container .main-text {
    text-align: center;
  }
  .main .container .main-text button {
    margin: 1rem auto;
  }
}
.trust {
  background-color: #fdf2e1;
  padding: 70px 0;
}
.trust h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.trust .container section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: ltr;
}
.trust .container section .image {
  width: 140px;
  padding: 1rem;
}
.trust .container section .image img {
  max-width: 100%;
  max-height: 100px;
}

.header-section {
  text-align: center;
}
.header-section h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 58px;
}
.header-section p {
  max-width: 752px;
  margin: auto;
  font-weight: 500;
  line-height: 24px;
  color: #cad8d5;
}

.advantages {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #2e4542;
  color: #fff;
}
.advantages section {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advantages section .advantages-image {
  flex-basis: 48%;
}
.advantages section .advantages-image img {
  max-width: 100%;
}
.advantages section .advantages-list {
  flex-basis: 48%;
  width: 100%;
}
.advantages section .advantages-list ul {
  margin: 0;
  padding: 0;
}
.advantages section .advantages-list ul li {
  background-color: #3c5855;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  transition: 0.3s;
}
.advantages section .advantages-list ul li:hover {
  cursor: pointer;
  box-shadow: inset -0.3px 0.5px 2px 0.1px #f4a237;
}
.advantages section .advantages-list ul li div {
  display: flex;
  align-items: center;
}
.advantages section .advantages-list ul li div img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.advantages section .advantages-list ul li div h4 {
  margin: 0;
}
.advantages section .advantages-list ul li p {
  padding-left: 66px;
  color: #cad8d5;
  margin: 5px 0 0 0;
}

@media (max-width: 992px) {
  .advantages section {
    flex-direction: column;
    gap: 20px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
}
.swiper .swiper-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex !important;
  justify-content: space-between;
  height: 550px !important;
  align-items: center;
}
.swiper .swiper-slide .reviewer-image {
  flex-basis: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}
.swiper .swiper-slide .reviewer-image::before {
  content: "";
  background: #2e4542;
  width: 400px;
  height: 439px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 16px;
}
.swiper .swiper-slide .reviewer-image::after {
  content: "";
  background: #f4a237;
  width: 400px;
  height: 424px;
  position: absolute;
  z-index: -2;
  bottom: -6%;
  transform: translateX(-50%);
  left: 45%;
  border-radius: 16px;
}
.swiper .swiper-slide .reviewer-image img {
  width: 315px;
  height: 358px;
}
.swiper .swiper-slide .reviewer-words {
  flex-basis: 50%;
  text-align: start;
}
.swiper .swiper-slide .reviewer-words img {
  width: 24px;
  height: 39px;
}
.swiper .swiper-slide .reviewer-words > p {
  margin: 2rem 0;
  font-weight: 500;
  line-height: 24px;
  color: #1e302e;
  font-size: 16px;
  max-width: 500px;
}
.swiper .swiper-slide .reviewer-words .info h2 {
  font-size: 39px;
  font-weight: 700;
}
.swiper .swiper-slide .reviewer-words .info p {
  font-weight: 500;
  color: #87a39f;
}
.swiper .swiper-pagination span {
  width: 16px;
  height: 16px;
  background-color: #d9d9d9;
  opacity: 1;
}
.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f4a237;
}

@media (max-width: 992px) {
  .swiper .swiper-slide {
    flex-direction: column;
    height: 1000px !important;
  }
  .swiper .swiper-slide .reviewer-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .swiper .swiper-slide .reviewer-words {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .swiper .swiper-pagination {
    top: 55% !important;
  }
}
@media (max-width: 480px) {
  .reviewer-image::before, .reviewer-image::after {
    width: 310px !important;
  }
  .reviewer-image img {
    width: 300px;
  }
  .reviewer-words {
    width: 310px !important;
  }
}
.slider {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
.slider .slider-container {
  overflow: hidden;
  position: relative;
}
.slider .slider-container .slider-content {
  display: flex;
  height: 100%;
  width: 4272px;
  gap: 15px;
}
.slider .slider-container .slider-content .item {
  border: 3px solid #efeaea;
  height: 218px;
  width: 267px;
  border-radius: 1rem;
  margin-right: 5px;
  cursor: pointer;
  animation: translateinfinite 10s linear infinite;
}
.slider .slider-container .slider-content .item img {
  max-width: 200px;
  max-height: 80px;
}
.slider .slider-container .slider-content:hover .item {
  animation-play-state: paused;
}
.slider h2 {
  text-align: center;
  margin: 2.5rem 0;
}

@keyframes translateinfinite {
  to {
    transform: translateX(-2136px);
  }
}
.client-review {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fdf2e1;
  position: relative;
}
.client-review .header-section p {
  color: rgba(18, 20, 20, 0.5019607843);
  max-width: 530px;
}

footer {
  background-color: #2e4542;
  color: #fff;
}
footer .content {
  padding-top: 70px;
  padding-bottom: 70px;
}
footer .content .container {
  display: flex;
  justify-content: space-between;
}
footer .content .container .details {
  max-width: 331px;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: unset;
}
footer .content .container .details img {
  width: 227px;
  height: 40px;
}
footer .content .container .details p {
  color: #cad8d5;
  margin-top: 1.5rem;
}
footer .content .container div {
  display: flex;
  justify-content: space-between;
  flex-basis: 70%;
  width: 100%;
}
footer .content .container div ul {
  padding: 0;
  margin: 0;
}
footer .content .container div ul h4 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
footer .content .container div ul li {
  margin: 0.5rem 0;
  transition: 0.3s;
  font-weight: 500;
}
footer .content .container div ul li:hover {
  color: #f4a237;
  cursor: pointer;
}
footer section {
  padding: 0.5rem;
  background-color: #375854;
}
footer section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer section .container ul {
  display: flex;
  gap: 35px;
  margin: 0;
}
footer section .container ul li {
  font-size: 30px;
}
footer section .container ul li a {
  color: #fff;
}
footer section .container .copyright p {
  margin: 0;
}

@media (max-width: 992px) {
  footer .content .container {
    flex-direction: column;
  }
  footer .content .container div {
    flex-direction: column;
  }
  footer .content .container div ul {
    margin-top: 1.5rem;
  }
  footer section {
    direction: ltr;
  }
  footer section .container {
    flex-direction: column-reverse;
  }
  footer section .container ul {
    margin-top: 0.7rem;
  }
}/*# sourceMappingURL=main.css.map */