@import '../helpers/mixins';
.scroll-top {
  position: fixed;
  left: 30px;
  width: 70px;
  height: 70px;
  background: $p-color;
  z-index: 9;
  bottom: 30px;
  border-radius: 50% !important;
  border: none;
  outline: none;
  z-index: 9;
  transition: $transition-duration;
  box-shadow: 0px 2px 6px 1px #8c8c8c;
  display: none;
  svg {
    color: $primary-color;
    font-size: 24px;
  }
  &:hover {
    background-color: #a9bdba;
  }
}
@include breakpoints(medium) {
  .scroll-top {
    width: 46px;
    height: 46px;
    svg {
      font-size: 15px;
    }
  }
}
