@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$primary-color: #2e4542;
$secondary-color: #fdf2e1;
$tertiary-color: #f4a237;

$main-text-color: #fff;
$secondary-text-color: #121414;
$p-color: #cad8d5;

$font-family-inter: 'Inter', sans-serif;

$transition-duration: 0.3s;

$opacity: 0.9;

$main-padding: 70px;
