.client-review {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  background-color: $secondary-color;
  position: relative;
  .header-section {
    p {
      color: #12141480;
      max-width: 530px;
    }
  }
}

// section {
//   display: flex;
//   margin-top: 8rem;
//   .reviewer-image {
//     flex-basis: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     z-index: 1;
//     &::before {
//       content: '';
//       background-color: $primary-color;
//       width: 439px;
//       height: 439px;
//       position: absolute;
//       z-index: -1;
//       border-radius: 1rem;
//       bottom: 0;
//     }
//     &::after {
//       content: '';
//       background-color: $tertiary-color;
//       width: 439px;
//       height: 439px;
//       position: absolute;
//       z-index: -2;
//       border-radius: 1rem;
//       bottom: -30px;
//       left: 60px;
//     }
//     img {
//       max-width: 326px;
//       max-height: 356px;
//     }
//   }
//   .reviewer-words {
//     flex-basis: 50%;
//     .fa-quote-left {
//       font-size: 66px;
//       color: $tertiary-color;
//     }
//     p {
//       color: #1e302e;
//       font-weight: 500;
//       line-height: 24px;
//       margin: 1rem 0;
//     }
//     .info {
//       h2 {
//         color: $primary-color;
//         font-size: 39px;
//         font-weight: 700;
//       }
//       p {
//         color: #87a39f;
//       }
//     }
//   }
// }

// ul {
//   display: flex;
//   justify-content: center;
//   gap: 15px;
//   margin-top: 60px;
//   li {
//     width: 15px;
//     height: 15px;
//     background-color: $p-color;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 20px;
//     &.active {
//       background-color: $tertiary-color;
//     }
//   }
// }
