.client-review {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  background-color: $secondary-color;
  position: relative;
  .header-section {
    p {
      color: #12141480;
      max-width: 530px;
    }
  }
}
